<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>instagram</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body> -->
  <%- include("includes/head.ejs")%>
  <h1>this account belongs to @<%= data.name %></h1>
  <button>Follow</button>
  <button>Message</button>

  <p>Followers : <%= data.followers%> &nbsp;&nbsp;&nbsp;&nbsp;Followers : <%= data.following%></p>
  <hr>
  <% for(let post of data.posts){ %>
    <img src="<%= post.image %>" alt="some img">
    <p>
      Likes : <%= post.likes %>&nbsp;&nbsp;&nbsp;comments : <%= post.comments %>
    </p>
  <% } %>
</body>
</html>